# Aptura OS build configuration.
# Override values by exporting them before running build.sh or by editing this file.

DISTRO_ID="aptura"
DISTRO_NAME="Aptura OS"
DISTRO_PRETTY_NAME="Aptura OS 0.1"
DISTRO_VERSION="0.1.0"
DISTRO_CODENAME="core"
DESKTOP_NAME="Aptura Classic XFCE"

BASE_FAMILY="debian"
BASE_DISTRIBUTION="debian"
BASE_SUITE="trixie"
APT_COMPONENTS="main contrib non-free-firmware"
ARCH="amd64"

MIRROR_BOOTSTRAP="http://deb.debian.org/debian"
MIRROR_BINARY="http://deb.debian.org/debian"
MIRROR_SECURITY="http://security.debian.org/debian-security"

ISO_VOLUME_ID="APTURA_OS"
ISO_LABEL="Aptura OS Live"
ISO_NAME="aptura-os-${DISTRO_VERSION}-${BASE_SUITE}-${ARCH}.iso"

BUILD_DIR="build"
DIST_DIR="dist"
LOG_DIR="build/logs"
PACKAGE_OUTPUT_DIR="build/packages"
LOCAL_REPO_DIR="build/localrepo"
LIVE_BUILD_WORKDIR="build/live-build"

SIGN_REPO="false"
REPO_GPG_KEY_ID=""
APTURA_REPO_ORIGIN="Aptura OS"
APTURA_REPO_LABEL="Aptura Local"

ENABLE_CALAMARES="true"
ENABLE_SECURE_BOOT_PLACEHOLDER="true"
ENABLE_UNATTENDED_UPGRADES="false"

# TODO: arm64 builds need tested package lists, firmware policy, and UEFI boot assets.
SUPPORTED_ARCHITECTURES="amd64 arm64"
